<header id="headerLogin">
    <div class="container">
        <div class="header-content">
            <div class="row justify-content-between">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 justify-content-around">
                    <div id="upContent"></div>
                    <h1>Take your finances safe with us</h1>
                    <p>
                        Your money is controlled safe by us.
                        Try it right now!
                    </p>
                    <a class="btn btn-sm btn-dark" [routerLink]="['/login']">Start Now!</a>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-center">
                    <div id="upImg"></div>
                    <img id="log" src="../../../assets/img/pay.svg" alt="financial" width="350">
                </div>
            </div>
        </div>
    </div>
</header>