<div class="col-12 col-sm-10 col-md-8 col-lg-5 mx-auto mt-5">
    <div class="container">
        <div class="form-row p-2">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 text-left my-auto">
                <img class="rounded-circle" src="{{user?.photoURL}}" width="40" height="40" alt="{{user?.displayName}}">
            </div>

            <div class="col-7 col-sm-7 col-md-7 col-lg-7 text-left mt-3 my-auto">
                <h4 class="ml-2" id="name">{{user?.displayName}}</h4>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-right mt-3 my-auto">
                <fa-icon id="settings" [icon]="faUserCog" [routerLink]="['/settings']"></fa-icon>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form #f="ngForm" [formGroup]="add">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded">Name</span>
                                </div>
                                <input autocomplete="off" class="form-control" type="text" formControlName="name"
                                    name='name'
                                    [ngClass]="{'is-invalid':add.get('name').invalid && add.get('name').touched}"
                                    [(ngModel)]="item.name">
                                <div class="invalid-feedback">
                                    Expense name is required!
                                </div>
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded">Cost</span>
                                </div>
                                <input autocomplete="off" class="form-control" type="number" formControlName="cost"
                                    onkeypress="return event.charCode >= 48" min="1" name="cost"
                                    [ngClass]="{'is-invalid':add.get('cost').invalid && add.get('cost').touched}"
                                    [(ngModel)]="item.cost">
                                <div class="invalid-feedback">
                                    Cost is required!
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="addExpense(f)">Add</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- DATA -->

        <div class="form-row bg-light mt-3 rounded">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-center">
                    <fa-icon [icon]="faEdit" class="text-right icon"></fa-icon>
                    <span class="sub"> EXPENSES</span>
                </p>
                <h5 class="text-center">{{ normal + fixed | number}}</h5>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-center">
                    <fa-icon [icon]="faHandHoldingUsd" class="text-right icon"></fa-icon>
                    <span class="sub"> AVAILABLE</span>
                </p>
                <h5 class="text-center">Q {{ data - this.totalNormal - this.totalFixed | number}}</h5>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <p class="text-center">
                    <fa-icon [icon]="faBookMark" class="text-right icon"></fa-icon>
                    <span class="sub"> TOTAL BUDGET</span>
                </p>
                <h5 class="text-center">Q {{ data | number}}</h5>
            </div>
        </div>

        <!-- Add Expense -->

        <div (click)="reset()" class="form-row mt-2">
            <div class="col-lg-12">
                <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <fa-icon [icon]="faPlus"></fa-icon> Add Expense
                </button>
            </div>
        </div>

        <div *ngIf="!loading && elements.length > 0 || !loading && itemsfixeds.length > 0" class="container rounded bg-white mt-2">
            <div class="text-center p-1 border-bottom border-dark">
                <h4>RECENT EXPENSES</h4>
            </div>
            <div class="mt-2">
                <ul class="list-group list-group-flush">

                    <!-- Fixed Items -->
                    <li *ngFor="let fixed of itemsfixeds;" class="list-group-item">
                        <div class="form-row text-center">
                            <div class="col-7 col-md-7 col-lg-7 text-left text-capitalize">
                                {{ fixed.name }}
                            </div>
                            <div class="col-3 col-md-3 col-lg-3 fw-bold">
                                Q {{ fixed.cost | number }}
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 text-right">
                                <button class="btn btn-primary">
                                    <fa-icon [icon]="faThumbtack"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </li>

                    <!-- Normal Items -->
                    <li *ngFor="let item of elements; let i = index" class="list-group-item">
                        <div class="form-row text-center">
                            <div class="col-7 col-md-7 col-lg-7 text-left text-capitalize">
                                {{ item.name }}
                            </div>
                            <div class="col-3 col-md-3 col-lg-3 fw-bold">
                                Q {{ item.cost | number}}
                            </div>
                            <div class="col-2 col-md-2 col-lg-2 text-right">
                                <button data-id="{{ item.name }}" class="btn btn-danger"
                                    (click)="deleteItem(item.id, i)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <!-- States -->

        <!-- Loading -->
        <div *ngIf="loading" class="alert alert-info text-center mt-3" role="alert">
            <h4 class="alert-heading">Loading...</h4>
            <i class="fa fa-spinner fa-spin fa-2x"></i>
            <p class="mb-0">
                Please wait...
            </p>
        </div>

        <!-- No Items -->
        <div *ngIf="!loading && elements.length === 0 && itemsfixeds.length === 0" class="alert alert-warning text-center mt-3" role="alert">
            <h4 class="alert-heading">You dont have items</h4>
            <i class="fa fa-exclamation fa-2x"></i>
            <p class="mb-0">
                Add items
            </p>
        </div>

    </div>
</div>