<header id="headerLogin">
    <div class="container">
        <div class="header-content">
            <div class="row">
                <div class="col-lg-6">
                    <div style="margin-top: 230px"></div>
                    <h1>Take your finances safe with us</h1>
                    <p>
                        Your money is controlled safe by us.
                        Try it right now!
                    </p>
                    <a class="btn btn-dark" [routerLink]="['/home']">Start</a>
                </div>
                <div class="col-lg-6">
                    <div style="margin-top: 130px"></div>
                    <img src="../../../assets/img/undraw_online_payments_luau.svg" alt="financial" width="600">
                </div>
            </div>
        </div>
    </div>
</header>